<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warnes APP</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <header class="header-bg">
        <nav class="navegacion contenedor">
            <a href="/" class="navegacion__enlace">Inicio</a>
            <a href="#" class="navegacion__enlace">Explorar</a>
            <a href=" /luminarias" class="navegacion__enlace">Luminarias</a>
        </nav>
    </header>