{% include 'sitio/cabecera.html' %}

<!-- Inicio Cuerpo -->
<main class="contenedor">
    <h1>Bienvenid@</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultrices arcu velit, a ultrices risus fermentum
        eget. In tincidunt, tellus ornare efficitur dignissim, dui est mollis neque, at tincidunt orci ligula non dui.
        Etiam feugiat nisl nec ipsum aliquam, eu sodales nibh suscipit. Maecenas velit justo, gravida vitae mauris ac,
        egestas hendrerit turpis. Integer a ligula rhoncus, rutrum lacus fringilla, consequat justo. Phasellus ex justo,
        convallis vel nulla non, sollicitudin faucibus tellus. Proin rhoncus est consectetur ex cursus, tempus porta
        quam ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Orci varius natoque penatibus et
        magnis dis parturient montes, nascetur ridiculus mus. Nam tincidunt pharetra ligula, sed tincidunt sem molestie
        vel. Nulla facilisi. Suspendisse condimentum metus pretium, commodo purus fermentum, egestas leo. Nam viverra
        aliquet varius.</p>
    <p>Vestibulum pharetra hendrerit nisi eu placerat. Aliquam venenatis ornare gravida. Nam imperdiet semper dui, eget
        dapibus tellus mollis non. Maecenas auctor sem lectus, in venenatis enim porttitor sit amet. Maecenas egestas
        hendrerit bibendum. Nullam tincidunt efficitur viverra. Duis at enim lacus. Duis lorem lorem, blandit et
        accumsan eu, vestibulum dictum diam.</p>
    <p>Donec et arcu urna. Aenean velit justo, dignissim eu felis a, cursus molestie augue. Fusce vitae mauris in ipsum
        hendrerit porttitor ut varius nisi. Donec blandit lorem vel ex euismod efficitur. Nullam convallis, nisl quis
        elementum semper, eros magna lacinia est, et eleifend ex lacus in magna. Nulla vel pulvinar eros. Suspendisse id
        enim ut ante ornare feugiat. In molestie posuere facilisis. Cras mi risus, sodales sit amet imperdiet quis,
        volutpat vitae neque. Duis iaculis velit lacinia, placerat enim nec, viverra arcu. Sed varius quam ullamcorper
        magna bibendum laoreet. </p>

</main>
<!-- Fin Cuerpo -->

{% include 'sitio/pie.html' %}