:root {
    /* --primario: #e1e1e1; */
    --primario: #DFE9F3;
    /* --secundario: #35567e; */
    --secundario: #0097a7;
    --blanco: #FFF;
    --negro: #000;
    --gris: #757575;
    --amarillo: #FFC107;



    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/** Globales **/
body {
    font-family: var(--fuenteParrafos);
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

p {
    font-size: 1.8rem;
    color: var(--negro);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--negro);
    font-family: var(--fuenteHeading);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Utilidades */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/* Header */
.header-bg {
    background-color: var(--secundario);
}

.navegacion {
    justify-content: flex-end;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem
    }

}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    padding: 0.5rem 2rem;
}

.navegacion__enlace:hover {
    background-color: var(--primario);
    color: var(--negro);
}

/* Footer */
.footer {
    background-color: var(--secundario);
    padding: 0.1rem 0;
    margin-top: 4rem;
}

.footer__texto {
    text-align: center;
    font-size: 1.8rem;
    color: var(--primario);
}

/* Formulario */
.formulario {
    background-color: var(--gris);
    width: min(90rem, 100%);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
    /* column-gap: 1rem; */
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--amarillo);
}

.contenedor-campos {
    display: grid;
    grid-template-columns: 12% 54% 12% 12%;
    column-gap: 2rem;
}

/* .campo {
    margin-bottom: 1rem;
}    */

.campo__label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.2rem;
    display: block;
}

.campo__field {
    width: 100%;
    border: none;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.contenedor-boton {
    display: flex;
    align-items: end;
}

.boton {
    background-color: var(--amarillo);
    color: var(--blanco);
    padding: 0.3rem 0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
    border: none;
    display: flex;
    flex-direction: column-reverse;
}

.boton:hover {
    cursor: pointer;
}